$g-font-family: '思源黑体', 'Roboto';
$g-font-size: 20px;

$bg-color: rgb(0, 167, 138);
$g-color: rgb(113, 27, 0);
$g-border: solid 2px rgb(113, 27, 0);

$c-155: rgb(255, 232, 155);
$c-113: rgb(113, 27, 0);
$c-122: rgb(122, 228, 200);

$c-white-40: rgba(255, 255, 255, .4);